html, body {
	height: 94%;
}
#game {
	width: expression(document.body.clientWidth < 775 ? "768px" : "100%");
	height: expression(document.body.clientHeight < 440 ? "432px" : "100%");
}
img { width: 66%; height: 66%; }
#middle {
	position: static;
	height: 300px;
}
#top div {
	width: 33%;
}
.bottom {
	margin-bottom: 2em;
}