body {
    width: 98%;
    height: calc(100% - 20px);
    background-color: #fff;
    font-family: 'Open Sans';
    margin: 10px auto;
    border-radius: 9px !important;
    box-shadow: 0px 1px 4px #aaa;
    overflow: hidden;
}
#game-screen #notepad-autopilot {
  width: 960px;
  height: 750px;
  margin: 0 auto;
  margin-top: 1em;
  font-size: 1.68em;
  text-align: center;
}
#game-screen #notepad-autopilot #notepad {
  position: relative;
  right: 6%;
  width: 400px;
  text-align: right;
  background-image: url(../images/scratchpad_small_alt.svg);
  background-repeat: no-repeat;
  background-size: 400px;
  /* border: 1px solid; */
  height: 568px;
  font-size: 28px;
  font-weight: 500;
  color: #565656;
  display: inline-block;
  vertical-align: top;
}

#game-screen #notepad-autopilot #notepad div {
  /* margin-bottom: 2.65em; */
}

#game-screen #notepad-autopilot #notepad #altitude {
  top: 15%;
  position: relative;
  right: 37px;
}

#game-screen #notepad-autopilot #notepad #heading {
  top: 31.5%;
  position: relative;
  right: 37px;
}

#game-screen #notepad-autopilot #notepad #speed {
  top: 48.5%;
  position: relative;
  right: 37px;
}

#game-screen #notepad-autopilot #notepad #frequency {
  top: 66%;
  position: relative;
  right: 37px;
}

#game-screen #notepad-autopilot #autopilot {
  top: 10px;
  position: relative;
  left: 6%;
  font-family: "bahnschrift";
  font-size: 20px;
  font-weight: 600;
  color: #eeeeee;
  text-align: left;
  background-image: url(../images/module_small_alt.svg);
  background-repeat: no-repeat;
  background-size: 500px;
  width: 500px;
  height: 448px;
  display: inline-block;
}

#game-screen #notepad-autopilot #autopilot .val {
  float: right;
  width: 170px;
  height: 90%;
  padding-right: 10px;
  display: grid;
  align-items: center;
  background-color: #0e0f0f;
  text-align: right !important;
}

#game-screen #notepad-autopilot #autopilot .cursor {
  display: none;
  text-align: left;
  vertical-align: middle;
  position: absolute;
  top: 6px;
  left: 15px;
  z-index: 1;
}
#game-screen #notepad-autopilot #autopilot .list {
  position: relative;
  cursor: text;
  height: 38px;
  position: relative;
  width: 38%;
  margin-left: 50%;
}
#game-screen #notepad-autopilot #autopilot #a {
  top: 17%;
}
#game-screen #notepad-autopilot #autopilot #h {
  top: 24%;
}
#game-screen #notepad-autopilot #autopilot #s {
  top: 31%;
}
#game-screen #notepad-autopilot #autopilot #a span {
  position: absolute;
}
#game-screen #notepad-autopilot #autopilot #a .val {
  right: 0px;
}

/* #game-screen #notepad-autopilot #autopilot div #h {
  margin-bottom: 2.2em;
} */
@media all and (min-width: 1370px) {
  #game-screen #notepad-autopilot #notepad {
  }
  #game-screen #notepad-autopilot #autopilot {
  }
}
#game-screen #game-buttons {
  width: 6em;
  position: relative;
  top: 183px;
  /* left: 50%; */
}
#game-screen #game-buttons div {
  cursor: pointer;
}
@media all and (min-width: 1370px) {
  #game-screen #game-buttons {
  }
}
#game-screen .keyboard_bar {
  margin: 30px;
  position: relative;
  height: 180px;
}
#game-screen .keyboard {
  position: absolute;
  width: 180px;
  height: 180px;
  /* background-image: url(../images/key_0.png); */
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#game-screen .keyboard img {
  width: 100%;
}
#game-screen #keyboard1 {
  left: 0px;
}

#game-screen #keyboard2 {
  right: 0px;
}

#game-screen #game-buttons #up-button {
  position: absolute;
  width: 180px;
  height: 65px;
  background-image: url(../images/up_disabled.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  left: 25px;
}

.up-hover:hover {
  background-image: url(../images/up_active.png) !important;
}

#game-screen #game-buttons #down-button {
  position: absolute;
  width: 180px;
  height: 65px;
  background-image: url(../images/down_disabled.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  left: 120px;
}

.down-hover:hover {
  background-image: url(../images/down_active.png) !important;
}

#game-screen #game-buttons #enter-button {
  position: absolute;
  width: 180px;
  height: 65px;
  background-image: url(../images/submit_disabled.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  left: 297px;
}

.enter-hover:hover {
  background-image: url(../images/submit_active.png) !important;
}
.active-textbox {
  border-radius: 6px;
  border: solid 1px #00ccdd;
  box-shadow: 0px 0px 5px 2px #00ccdd;
}
#game-screen #play-time {
  position: absolute;
  top: 110px;
  transform: translateX(-50%);
  left: 50%;
  /* background: #bfc1bf; */
  /* border-bottom: 2px solid #b2b3b3; */
  color: #646464;

  /* width: 25%; */
  height: 1.5em;
  padding-top: 0.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 20px;
  font-family: arial;
  letter-spacing: 1px;
  /* text-shadow: 1px 1px #b2b3b3; */
  text-align: center;
  display: block;
}

.tag {
  color: #cecdcd;
  font-size: xx-large;
}
#result-container {
  position: relative;
}
.result-detail {
  position: absolute;
  top: 250px;
  font-size: 15px;
  color: #cdcdcd;
  left: 60px;
  left: 50%;
  transform: translateX(-50%);
  inline-size: max-content;
}
@media all and (max-width: 1370px) {
  body {
  }
  #game {
  }
  img {
    /* width: 66%; */ /* height: 66%; */
  }
}
@media all and (min-width: 1370px) {
  body {
  }
  #game {
  }
  img {
    /* width: 100%; */ /* height: 100%; */
  }
}


@media all and (max-width: 1180px) {

  #game-screen .keyboard_bar {margin-bottom: 0 !important;}
  #game-screen #notepad-autopilot {margin-top: 0 !important;}
  #game-screen #notepad-autopilot #notepad {background-size: 350px;margin-top: 15px;right: 5%;}
  #game-screen #notepad-autopilot #notepad #altitude {right: 80px; top: 13%;}
  #game-screen #notepad-autopilot #notepad #heading {right: 80px; top: 27%;}
  #game-screen #notepad-autopilot #notepad #speed {right: 80px; top: 41%;}
}